.error-msg{
  color: red;
  text-align: center;
  font-size: 18px;
}
.am-tab-bar{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: inherit;
}
.sticky-header{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
*{
  font-family: Arial, serif ;
}
#chat_page .chat-me .am-list-extra{
  flex-basis: auto;
}
#chat_page .chat-me .am-list-content{
  padding-right: 15px;
  text-align: right;
}
#chat_page .am-list-content {
  font-size: 16px;
}
